<div
  class="todo"
  [ngClass]="task.isCompleted ? 'completed' : ''"
  (change)="changeStatusTask()"
>
  <div class="todo__complete">
    <div class="round">
      <input type="checkbox" id="{{task.id}}"/>
      <label for="{{task.id}}"></label>
    </div>
  </div>

  <div
    class="todo__title"
    (dblclick)="isEdit = !isEdit;"
    (mouseleave)="editTask($event)"
    [contentEditable]="isEdit"
  >
    <p>{{ task.title }}</p>
  </div>

  <div class="todo__delete">
    <img src="../../../assets/icon/closee.png" alt="delete icon" (click)="removeTask()">
  </div>
</div>
