.todo {
  height: 60px;
  display: grid;
  grid-template-columns: 10% 70% 10%;
  column-gap: 5%;
  place-items: center;
  transition: all .4s ease;
  border-bottom: 1px solid #e6e6e6;
}

.todo:hover .todo__delete img {
  visibility: visible;
  opacity: 60%;
}

.todo__complete,
.todo__delete {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  transition: all .2s ease;
}

.round label:after {
  border: 2px solid #6ccfad;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
  transition: all .2s ease;
}

.round input[type="checkbox"] {
  visibility: hidden;
}


.completed .round label {
  background-color: #fff;
  border: 1px solid #6ccfad;
}

.completed .round label:after {
  opacity: 1;
}

.completed .round input[type="checkbox"]:checked + label {
  background-color: #fff;
  border: 1px solid #6ccfad;
}

.completed .round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.todo__title {
  width: 100%;
  text-align: left;
  opacity: 70%;
}

.todo__title p {
  margin-bottom: 0;
  font-size: 20px;
}

.todo__delete img {
  visibility: hidden;
  width: 15px;
  cursor: pointer;
}

.todo:hover .todo__delete img:hover {
  opacity: 100%;
}

.completed .todo__title p {
  text-decoration: line-through;
  opacity: 40%;
}
