
<div class="todo-container">
  <todo-input
    (newTaskEvent)="getTask($event)"
    (completeAllEvent)="markAllCompleted($event)"
  >
  </todo-input>

  <router-outlet></router-outlet>
  <div class="todo__list" *ngFor="let task of tasks, let i = index">
    <todo
      [taskContent]="task.title"
      [id]="i"
      (removeTaskEvent)="deleteTask($event)"
      (markTaskEvent)="tickTask($event)"
    >
    </todo>
  </div>

  <todo-stats
    [numberTasks]="tasks.length - taskCompleteds.length"
    *ngIf="tasks.length"
    (clearEvent)="clearTasksCompleted()"
  >
  </todo-stats>
</div>
